.content{
    height: 100%;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    position: relative;
}
.word{
    scroll-snap-align: start;
    scroll-margin-top: 0;
    min-height: 200px;
}
ol{
    margin-top: 0;
    padding-inline-start: 20px;
}
.upper{
    text-transform: uppercase;
    font-family: cursive;
    font-style: italic;
}
.loading{
    text-align: center;
}
.loading ion-spinner{
    vertical-align: middle;
}
ion-card.ios.hydrated {
    box-shadow: none;
    margin-left: 0;
    margin-right: 0;
}
.item-inner{
    border-bottom: solid red 1px;
}
ion-item-options.ios.item-options-ios.item-options-end.hydrated {
    background: #eee;
}
ion-item-option{
    --background: #eee;
}
ion-item-option ion-icon{
    font-size: 3em;
}
